<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718724382718-55avdtrh4c8d7di0ql3rnqdminlrutl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718724382718-55avdtrh4c8d7di0ql3rnqdminlrutl3</string>
	<key>API_KEY</key>
	<string>AIzaSyAar_O_3LJ5BRXQQwo12jFu_kKVWKtwOTE</string>
	<key>GCM_SENDER_ID</key>
	<string>718724382718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thiktokClone</string>
	<key>PROJECT_ID</key>
	<string>aplication-1-2aa81</string>
	<key>STORAGE_BUCKET</key>
	<string>aplication-1-2aa81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718724382718:ios:ab83a19793a3383e934aaf</string>
</dict>
</plist>